

// $web-bg = hexo-config('config.background_img[0]')
$bgmask-color = convert(hexo-config('config.mask_color'))
$hr-color = convert(hexo-config('hr'))
$identify-icon-Enable = hexo-config('identify_icon.icon')
$identify-icon = $identify-icon-Enable ? convert((hexo-config('identify_icon.icon'))) : '/img/blue_icon.svg'