<header id='bgdiv'>
    <div class="bgmask"></div>
</header>

<% if(theme.background_image.enable){ %>
    <% 
        var len = theme.background_image.img.length;
        var random = Math.floor(Math.random() * len);
        var array = theme.background_image.img.split(",");
    %>

    <script>
        $(document).ready(function() {
            $("header").css("background-image", "url(<%= array[random].trim() %>)");
        });

        <% if(theme.background_image.timer){ %>
            $(document).ready(function() {
                var len = <%= len %>;
                var random = <%= random %>;

                setInterval(function () {
                    random = (random + 1) % len;
                    $("#bgdiv").css("background-image", "url(" + array[random].trim() + ")");
                }, <%= theme.background_image.timer %> * 1000);
            });
        <% } %>
    </script>
<% } %>
