@charset "UTF-8";

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,time,tt,u,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%
}

tbody,td,tfoot,th,thead,tr {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}


ol,ul {
	list-style: none
}

body:after,body:before {
	display: table;
	content: ""
}

body:after {
	clear: both
}

body,html {
	height: 100%
}

html {
	height: 100%;
	max-height: 100%
}

body {
	color: #333;
	font-size: 1em;
	font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	-webkit-font-smoothing: antialiased
}

::-moz-selection {
	background: rgba(255,255,255,.3)
}

::selection {
	background: rgba(255,255,255,.3)
}

::-moz-selection {
	background: rgba(255,255,255,.3)
}

a {
	color: #df9c81;
	text-decoration: none
}

a:hover {
	color: #d06c44;
	-webkit-transition: .5s;
	transition: .5s
}

h1,h2,h3,h4,h5 {
	margin-top: 1em;
	margin-bottom: .5em;
	color: #333;
	font-weight: lighter;
	font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	-webkit-font-smoothing: antialiased
}

h1 {
	margin-top: 0;
	letter-spacing: .05em;
	font-size: 1.8em;
	line-height: 1.2em
}

h2 {
	font-size: 1.6em
}

h3 {
	font-size: 1.4em
}

h4 {
	font-size: 1.2em
}

h4 {
	font-size: 1.1em
}

h5 {
	font-size: 1em
}

p {
	margin-bottom: 1.3em;
	line-height: 1.7em
}

em {
	font-style: italic
}

ol,ul {
	margin: 0 0 .3em 1em
}

ol li,ul li {
	margin: 0 0 .2em 0;
	line-height: 1.6em
}

ol ol,ol ul,ul ol,ul ul {
	margin: .1em 0 .2em 2em
}

ol {
	list-style-type: decimal
}

ul {
	list-style-type: disc
}

.author a,.date a,.tags a,.time a {
	color: #666
}

.author a:hover,.date a:hover,.tags a:hover,.time a:hover {
	color: #d06c44
}

.hidden {
    display: none !important;
}

hr {
	border: none
}


:focus {
	outline: 0
}

